{% extends 'main.html' %} {% block content %}

<h1>Home</h1>

<div>
	<a href="{% url 'create-room' %}">Create Room</a>
	<div>
		{% for room in rooms %}
		<div>
			<a href="{% url 'update-room' room.id %}">Edit your room</a>
			<a href="{% url 'delete-room' room.id %}">Delete your room</a>
			<span>@{{room.host.username}}</span>
			<hr />
			<small>{{room.topic.name}}</small>
			<h3>
				{{room.id}} ---- <a href="{% url 'room' room.id %}">{{room.name}} </a>
			</h3>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
